<form action="{{ path('message_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>